p {
	font-family: 'Sans Serif';
}

h1, h2 {
	font-weight: bold;
}

body {
	background-color: #37B5EF;
	width: 100%;
	padding-top: 2%;
}

a {
	text-decoration: none;
} 
p.license {
	margin-bottom: 20px;
}
